table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: 1px solid black;
    border-color: #c9c9c9;
}

tr {
    height: 1px; /* Used for getting div container to fit shift cells */
}

th, td {
    padding: 14px 16px;
    height: inherit; /* Used for getting div container to fit shift cells */
}

th {
    background-color: #e3ab1e;
    color: #081E3f;
}

td {
    background-color: white;
    width: 12%;
    min-width: 46px;
}

.shiftCell  {
    padding: 6px; /* Override standard cell padding for better fitting contents */
}

.shiftDiv {
    background-color: #081E3f;
    background-image: linear-gradient(#0a3066, #081E3f);
    border-radius: 16px;
    height: 100%; /* Used for getting div container to fit shift cells */
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    transition: box-shadow .5s;
}

.shiftDiv:hover {
    -moz-box-shadow: inset 0 0 20px white;
    -webkit-box-shadow: inset 0 0 20px white;
    box-shadow: inset 0 0 20px white;
}

.shiftText {
    color: white;
    text-align: center;
}

.headerCol {
    width: 8%;
    min-width: 74px;
    text-align: right;
    border-right: #e3ab1e;
    border-bottom: #e3ab1e;
    border-top: #e3ab1e;
    padding-right: 12px;
}

.headerColText {
    position: relative;
    bottom: 23px;
    z-index: .5;
}

.cornerCell {
    border-bottom: #e3ab1e;
}

.colOneFinal {
    color: #e3ab1e;
}
