/* Tooltip implementation from W3Schools with adjustments*/

/* Tooltip container RIGHT*/
.tooltipRIGHT {
    position: relative;
}

/* Tooltip container LEFT*/
.tooltipLEFT {
    position: relative;
}

/* Tutor course display tooltip indicator */
.tutortooltipIndicator {
    margin-left: 14px;
    color: #081E3f;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #ffffff 0%,#cacaca 100%);
}
  
/* Tooltip text RIGHT SIDE*/
.tooltipRIGHT .tooltiptextRIGHT {
    visibility: hidden;
    width: 172px;
    background-color: #081E3f;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 8px 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px black;

    /* Add color border */
    border-style: solid;
    border-width: 4px;
    border-color: #e3ab1e;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    /* Tooltip fade in */
    opacity: 0;
    transition: opacity .5s;
}

/* Tooltip text LEFT SIDE*/
.tooltipLEFT .tooltiptextLEFT {
    visibility: hidden;
    width: 172px;
    background-color: #081E3f;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 8px 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px black;

    /* Add color border */
    border-style: solid;
    border-width: 4px;
    border-color: #e3ab1e;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;

    /* Tooltip fade in */
    opacity: 0;
    transition: opacity .5s;
}

/* Tooltip text for course displayer*/
.tooltipRIGHT .tooltiptextCourse {
    visibility: hidden;
    width: 130px;
    background-image: linear-gradient(#fff, rgb(214, 214, 214));
    color: #081E3f;
    font-weight: bold;
    padding: 8px 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px black;

    /* Add color border */
    border-style: solid;
    border-width: 4px;
    border-color: #081E3f;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    /* Tooltip fade in */
    opacity: 0;
    transition: opacity .5s;
}

/* Tooltip left arrow */
.tooltipRIGHT .tooltiptextRIGHT::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent #e3ab1e transparent transparent;
}

/* Tooltip right arrow */
.tooltipLEFT .tooltiptextLEFT::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-right: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent transparent #e3ab1e;
}

/* Tooltip left arrow */
.tooltipRIGHT .tooltiptextCourse::after {
    content: " ";
    position: absolute;
    top: 6px;
    right: 100%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent #081E3f transparent transparent;
}

.toolTipSpan {
    display: block;
}

.toolTipSpanTutorName {
    display: block;
    color: rgb(245, 209, 48);
}

.tooltipRIGHT:hover .tooltiptextRIGHT, .tooltipLEFT:hover .tooltiptextLEFT, .tooltipRIGHT:hover .tooltiptextCourse {
    visibility: visible;
    opacity: 1;
}