/* Tooltip implementation from W3Schools with adjustments*/

/* Tooltip container */
.tooltip {
    position: relative;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    border-radius: 10px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 101%;
    left: 50%;
    margin-left: -70px;

    /* Tooltip fade in */
    opacity: 0;
    transition: opacity .5s;
}

/* Tooltip bottom arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.toolTipSpan {
    display: block;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}