table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: 1px solid black;
    border-color: #d6d6d6;
}

tr {
    height: 1px; /* Used for getting div container to fit shift cells */
}

th, td {
    padding: 14px 16px;
    height: inherit; /* Used for getting div container to fit shift cells */
}

th {
    background-color: #e3ab1e;
    color: #081E3f;
}

td {
    background-color: white;
}

.shiftCell  {
    padding: 6px; /* Override standard cell padding for better fitting contents */
}

.shiftDiv {
    background-color: #081E3f;
    border-radius: 16px;
    height: 100%; /* Used for getting div container to fit shift cells */
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
}

.shiftText {
    color: white;
    text-align: center;
}

.headerCol {
    width: 15px;
}